/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap');
@import "~ngx-smart-modal/ngx-smart-modal";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;

  border: 0;
  font-family: 'Roboto';
  color: #0D0C1A;
  font-size: 1em;
  font-weight: 400;
  font-size: 95%;
}

body > * {
  display: flex;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page--content {
  height: 100vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

//h1 {
//  margin: 0;
//  font-weight: 600;
//  font-size: 42px;
//}
//
//h2 {
//  margin: 0;
//  font-weight: 600;
//  font-size: 32px;
//}

h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0.5em;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 15px 0;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 0.8em;
  font-weight: 500;
}

ul li {
  list-style: none;
  font-size: 0.95em;
}

ol {
  margin: 1rem;
  font-size: 0.95em;
}

a {
  color: #0D0C1A;
  font-size: 0.95em;
}

p,
span {
  font-size: 0.95em;
}

p span,
p li,
p a {
  font-size: 1em;
}

.hidden {
  display: none;
}

input[type="radio"]{
  width: auto;
  display: inline-block;
  margin-right: 10px;

  &:before,
  &:after {
    position: absolute;
    display: block;
    transition: all 0.3s ease;
  }
}

th{
  text-align: left;
}


/* Alterar posição dos settings do mapa */
.leaflet-control-container .leaflet-top {
  top: 20px !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-content {
  h2 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  table {
    padding-right: 1em;
  }
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: none  !important;
  box-shadow: unset !important;
  border-radius: unset !important;
}

.leaflet-bar {
  box-shadow: 0 0 0 rgba(0,0,0,0.65) !important;
  border-radius: 0px !important;
}

.leaflet-bar a {
  background: #3f1f4f no-repeat center !important;
  border-radius: 0 !important;
  width: 32px  !important;
  height: 32px  !important;
  line-height: 100%  !important;
  vertical-align: middle  !important;
  margin-bottom: 4px;
  text-indent: -9999px;
  overflow: hidden;
  display: block !important;
}

.leaflet-custom-control {
  background: #3f1f4f no-repeat center !important;
  color: #fff !important;
  border-radius: 0 !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 100% !important;
  vertical-align: middle !important;
  margin-bottom: 4px;
  font-size: 22px;
  cursor: pointer;
}

.leaflet-help-control {
  background-color: #41395c !important;
  border: 0px;
}

.leaflet-control-zoom .leaflet-control-zoom-out {
  background-size: 12px !important;
  background-image: url(assets/img/ico-minus.svg) !important;
}

.leaflet-control-zoom .leaflet-control-zoom-in {
  background-size: 12px !important;
  background-image: url(assets/img/ico-plus.svg) !important;
}

.leaflet-charts-control {
  background-size: 20px !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAAAmJLR0QA/4ePzL8AAAC1SURBVEjH7dA9DkFBFMXxSZ7CjlTUPvagYDUSViW2oKAzLxagk4ifAvHiZZinknCqycn9zzn3hvDXSxkpRYPP4Ah2OQnDJ7fnnANfE6Ki4k0dcbDTT4NtM3dtjBUhKCzAvPpdHe1Y4yQqbcHW3gFHk3d7nrDWCSEEhbHNrcNZ9/2ezLQrbkuZf6TakKF4P5IVWNbhwWMoGXDT6xaJhDw4MdQYrrZoDifeyT2bwxnAH/4K+Id0AWtOAiu1TCxiAAAAAElFTkSuQmCC) !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.popup__container {
  display: none;
}

.popup {
  background: #fff;
  padding: 1.5rem;
  width: 500px;
  position: relative;
}

.popup p {
  font-size: 12px;
  font-style: italic;
}

.close__button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  top: -15px;
  right: -15px;
  font-size: 20px;
  justify-content: center;
  display: flex;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

/********************************
MODAL CONTENT
********************************/

.modal__content {
  display: flex;
  align-items: center;
  margin-top: 42px;
  height: 520px;
}

.nsm-body {
  height: 100%;
  overflow: auto;
}

.nsm-dialog {
  max-width: 920px !important;
  width: 920px !important;
  height: 650px !important;
}

.nsm-content {
  height: 620px !important;
  overflow: hidden;
  padding: 32px 40px !important;
  position: relative;
}

.nsm-dialog-btn-close {
  position: absolute;
  top: 16px  !important;
  right: 16px !important;
}